<% if book.errors.any? %>
    <ul>
      <% book.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <%= alert %>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- each メソッドで以下をローカル変数で作る-->
<div class="row">
  <h2>User info</h2>
    <%= attachment_image_tag user, :profile_image %>
    <table>
      <tbody>
      <tr>
    	  <th>name</th><th><%= user.name %></th>
    	</tr>
      <tr>
    	  <th>introduction</th><th><%= user.introduction %></th>
      </tr>
     </tbody>
   </table>
   <%= link_to 'edit', edit_user_path(user.id)%>
  </div>


<!--ここからform_withでnew_bookのcreate bookを作る-->
  <h2>New book</h2>
  <%= form_with model:@book, local:true do |f| %>
  <h3>Title</h3>
  <%= f.text_field :title %>
  <h3>Opinion</h3>
  <%= f.text_area :body %>
  <%= f.submit "Create Book" %>
  <% end %>
  