<!-- 部分テンプレートの読み込み→プロフィール画像の表示、editへのリンク、Newbook機能　-->
<div class="container">
  <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div class="row">
    <%= render 'users/show', user: @users, book: @book %>
    <div class="col-xs-9 mt-40">
      <h2>Books</h2>
      <table class="table table-hover table-invers">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>  
            <th colspan="3"></th>
          </tr>   
        </thead>
        <tbody class="h-50">
          <% @usersbooks.each do |book| %>
            <tr>
              <td><%= attachment_image_tag @users, :profile_image, size: "50x50", fallback: "noimage.png" %></td>
              <td><%= link_to book.title,book_path(book) %></td>
              <td><%= book.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>